{% extends "../base.html" %}

{% block title %} Login {% endblock %}

{% block content %}

    <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        
        {% for field in form %}
            <b>{{ field.label }}:</b> {{ field }}
            <br><br>
        {% endfor %}

        {% if error %}
            <span style="color: red;">{{ error }}</span>
            <br><br>
        {% endif %}
        
        <input class="login-button" type="submit" value="Enviar" />
        <a href="{% url 'signup' %}">Register here if no account</a>
    </form>

{% endblock %}

